<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LogIn</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark camera-nav">
        <a class="navbar-brand" href="#"><span><i class="fas fa-camera fa-lg blue-font"></i></span> CameraShare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Rentals</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="posting">List <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cart/:cartItem"><span><i class="fas fa-shopping-cart"></i></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span><i class="fas fa-user-circle"></i></span></a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container dodge-navbar">
        <div class="col-md-8 offset-md-2 justify-content-center">
            <div class="col text-center">
            <h3>List New Rental</h3>
            </div>
            <form id="rental-form">
                <div class="form-group">
                    <label for="rentalCategory">Category</label>
                    <select class="form-control" id="rental-category">
                    <option>Cameras</option>
                    <option>Lenses</option>
                    <option>Lighting</option>
                    <option>Accessories</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="rentalName">Item Name</label>
                    <input type="text" class="form-control" id="rental-name" placeholder="RED Epic...">
                </div>
                <div class="form-group">
                    <label for="rentalPrice">Day Rate</label>
                    <input type="number" class="form-control" id="rental-price" placeholder="50">
                </div>
                <div class="form-group">
                    <label for="rentalDescription">Description</label>
                    <textarea class="form-control" id="rental-description" rows="10" placeholder="Please list item condition and what's included in your rental."></textarea>
                </div>
                <button type="submit" id="rental-submit" class="btn btn-primary">List Item</button> 
            </form>
        </div>
    </div>
    
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src = "./js/views.js"></script>
</body>
</html>