.list-group-item {
  line-height: 5.5;
}

.container{
  display: flex;
    justify-content: space-around;
     align-items: center

}

.nav{
  width: 24%;
  padding: 5;
  margin: 5;
  display: inline-block;
  text-align: center;
  border: 2px solid blue;
  height: 300px;
  width: 600px;
}
p{

  display: inline-block;
  font: bold;

}

body {
  background-color: blue;
}

.dodge-navbar {
  margin-top: 5em;
}